body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.loader{
  position: absolute;
  height: 803px;
  width: 1200px;
  background-color: bisque;
  z-index: 100;
}

img.rotate {
  animation: rotation 1s infinite linear;
  margin-left: 560px;
  margin-top: 323px;
  height: 100px;
  width: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#hideMe {
  -moz-animation: cssAnimation 0s ease-in .5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in .5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in .5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in .5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
}

div.header {
  font-family:verdana;
  height: 100px;
  width: 1200px;
  text-align: center;
  background-color: darkseagreen;
  display: flex;
  border-bottom: solid 3px black;
}

p.headerTitle {
  margin: 0px;
  font-size: 75px;
  font-weight: bold;
  flex: 1;
}

div.mainSection {
  height: 700px;
  width: 1200px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

div.signoutButton{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Verdana;
  font-weight: bold;
  border-style: solid;
  height: 22px;
  width: 90px;
  background-color: rgb(163, 163, 163);
  margin-top: 75px;
  margin-left: 1060px;
  position: absolute;
  cursor: pointer;
}

div.signoutButton:hover {
  background-color: gray;
}

div.profileButton:hover {
  background-color: gray;
}

img.backbutton {
  height: 80px;
  width: 80px;
  margin-left: 900px;
  flex: 1;
}

img.profilePhoto {
  height: 300px;
  width: 300px;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 15px;
  border-style: solid;
}

div.profileCard {
  height: 350px;
  width: 670px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 25px;
  border-style: solid;
  font-family: Verdana;
  background-color: rgb(255, 239, 219);
  flex-direction: row;
  display: flex;
  flex: 6;
}

div.contentHolder {
  background-color: darkseagreen;
  border-radius: 25px;
  border-style: solid;
  height: 250px;
  width: 1140px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 25px;
  flex:6;
  flex-direction: row;
  display: flex;
  overflow-x:scroll;
  overflow-y: hidden;
}

div.HikeHolder {
  background-color: darkseagreen;
  border-radius: 25px;
  border-style: solid;
  height: 285px;
  width: 450px;
  margin-top: 90px;
  margin-bottom: 25px;
  margin-left: 710px;
  position: absolute;
  overflow: scroll;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
}

div.hikeClickable {
  height: fit-content;
  padding-bottom: 2px;
  width: 410px;
  background-color: burlywood;
  border-radius: 25px;
  border-style: solid;
  text-align: center;
  font-family: Verdana;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

div.hikeClickable:hover {
  background-color: rgb(138, 115, 85);
}

img.friend {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border-style: solid;
  margin-left: 10px;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}

img.friend:hover {
 filter:brightness(50%)
}

div.settings {
  position: absolute;
  background-color: rgb(163, 163, 163);
  border-radius: 5px;
  font-family: Verdana;
  font-weight: bold;
  height: 32px;
  width: 220px;
  box-shadow: 5px 5px 5px black;
  border-style: solid;
  cursor: pointer;
  margin-left: 810px;
  font-size: 25px;
  margin-top: 30px;
}

div.settings:hover {
  filter:brightness(50%)
}